streamlit

langchain
langchain_upstage
langchain_huggingface
langchain_community
langchain-text-splitters
langchain-chroma
langchain_pinecone

bitsandbytes
unstructured
pinecone-client

python-dotenv
