streamlit

langchain
langchain_upstage
langchain_huggingface
langchain_community
langchain-text-splitters
langchain-chroma

bitsandbytes
unstructured

git+https://github.com/langchain-ai/langchain-pinecone.git
pinecone-client

python-dotenv
